@font-face {
    font-family: "League Spartan";
    src: url("/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}

:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    font-family: "League Spartan", "Segoe UI", "Trebuchet MS", Arial, sans-serif;
    min-height: 100vh;
}

.main{
    display: grid;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "main"
    "cta"
    "image1"
    "about"
    "image2";
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px 0;
}

.main__hero{
    grid-area: main;
    /* background-image: url(../images/mobile-image-hero-1.jpg); */
    min-height: 360px;
    background-size: 100% 100%;
}

.main__nav{
    display: flex;
    margin-top: -.8rem;
}

.main__links{
    display: none;
    background-color: white;
    text-decoration: none;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    height: 6rem;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.icon__close {
    margin-left: -2.5rem;
}

.main__link {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.main__logo{
    margin: 0 auto;
}

.main__controls{
    grid-area: main;
    align-self: end;
    justify-self: end;
    background-color: var(--Black);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main__control{
    height: 40%;
}

.main__buy{
    grid-area: cta;
}

.main__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.main__title{
    color: var(--Black);
}

.main__paragraph{
    line-height: 1.5;
    margin: 1em 0 2em;
    color: var(--Dark-Gray);
}

.main__paragraph--about{
    margin: 1em 0 0 0;
}

.main__cta{
    text-decoration: none;
    color: var(--Very-Dark-Gray);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.main__arrow{
    margin-left: 20px;
}

.main__bg{
    grid-area: image1;
    min-height: 250px;
    height: 100%;
    background-image: url(../images/image-about-dark.jpg);
    background-size: cover;
    background-position: center;
}

.main__about{
    grid-area: about;
}

.main__bg--second{
    grid-area: image2;
    background-image: url(../images/image-about-light.jpg);
}

.attribution{
    font-size: 12px;

}

@media (min-width:768px){

    .container{
        width: 85%;
        padding: 70px 0;
    }

    .main{
        grid-template-columns: repeat(7,1fr);
        grid-template-areas: 
        "main main main main cta cta cta"
        "main main main main cta cta cta"
        "main main main main cta cta cta"
        "image1 image1 about about about image2 image2"
        "image1 image1 about about about image2 image2";
        max-width: 100vw;
        min-height: 100vh;
    }

    .main__hero {
        /* background-image: url(../images/desktop-image-hero-1.jpg); */
        height: 100%;
        min-height: 100%;
    }

    .main__controls{
        grid-area: cta;
        justify-self: start;
    }

    .main__logo{
        margin: 0;
    }

    .main__hamburguer{
        display: none;
    }

    .main__links{
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        gap: 2em;
        margin-left: 10%;
        background-color: transparent;
        justify-content: start;
        position: static;
        height: auto;
    }

    .icon__close {
        display: none;
    }

    .main__link{
        color: var(--White);
        position: relative;
    }

    .main__link::before {
        cursor: pointer;
        content: "";
        height: .15rem;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 1.3rem;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform .3s ease;
    }

    .main__link:hover::before {
        transform: scaleX(1);
    }

    .main__cta {
        cursor: pointer;
    }

    .main__control {
        cursor: pointer;
    }
}
