@font-face {
    font-family: "League Spartan";
    src: url("/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}

:root{
    --Dark-Gray: hsl(0, 0%, 63%);
    --Black: hsl(0, 0%, 0%);
    --White: hsl(0, 0%, 100%);
    --Very-Dark-Gray: hsl(0, 0%, 27%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    font-family: "League Spartan", "Segoe UI", "Trebuchet MS", Arial, sans-serif;
    min-height: 100vh;
}

.main{
    display: grid;
    max-width: 87.5rem;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "main"
    "cta"
    "image1"
    "about"
    "image2";
    /* position: relative; */
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 3.75rem 0;
}

.main__hero{
    grid-area: main;
    min-height: 22.5rem;
    background-size: 100% 100%;
    transform: translateX(-100%);
    /* right: 100%; */
    /* right: 100%; */
    /* position: relative; */
    /* left: 100; */
    /* transition: right 1s ease; */
    /* transition: transform 1s ease; */
}

.hero--desk-1 {background-image: url("../images/desktop-image-hero-1.jpg");}
.hero--desk-2 {background-image: url("../images/desktop-image-hero-2.jpg");}
.hero--desk-3 {background-image: url("../images/desktop-image-hero-3.jpg");}

.hero--mob-1 {background-image: url("../images/mobile-image-hero-1.jpg");}
.hero--mob-2 {background-image: url("../images/mobile-image-hero-2.jpg");}
.hero--mob-3 {background-image: url("../images/mobile-image-hero-3.jpg");}

.hero--transition-1 {
    transform: translateX(-100%);
    /* transition: transform 1s ease; */
}

.hero--transition-2 {
    transform: translateX(0%);
    transition: transform 1s ease;
}

.main__nav{
    display: flex;
    margin-top: -.8rem;
}

.main__links__container {
    display: none;
    background-color: white;
    text-decoration: none;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    height: 6rem;
    align-items: center;
    justify-content: space-around;
}

.main__links{
    display: flex;
    text-decoration: none;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.icon__close {
    margin-left: 2.5rem;
}

.main__link {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.main__logo{
    margin: 0 auto;
}

.main__controls{
    grid-area: main;
    align-self: end;
    justify-self: end;
    background-color: var(--Black);
    width: 6.25rem;
    height: 3.125rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.main__control{
    height: 40%;
}

/* .main__hero .icon-left:active {
    right: 100%;
    transition: right 1s ease;
} */

/* .hero--transition {
    right: 100%;
    transition: right 1s ease;
} */

.main__buy{
    grid-area: cta;
}

.main__content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.main__title{
    color: var(--Black);
}

.main__paragraph{
    line-height: 1.5;
    margin: 1em 0 2em;
    color: var(--Dark-Gray);
}

.main__paragraph--about{
    margin: 1em 0 0 0;
}

.main__cta{
    text-decoration: none;
    color: var(--Very-Dark-Gray);
    text-transform: uppercase;
    letter-spacing: .25rem;
}

.main__arrow{
    margin-left: 1.25rem;
}

.main__bg{
    grid-area: image1;
    min-height: 15.625rem;
    height: 100%;
    background-image: url(../images/image-about-dark.jpg);
    background-size: cover;
    background-position: center;
}

.main__about{
    grid-area: about;
}

.main__bg--second{
    grid-area: image2;
    background-image: url(../images/image-about-light.jpg);
}

.attribution{
    font-size: 0.75rem;

}

@media (min-width:48rem){

    .container{
        width: 85%;
        padding: 4.375rem 0;
    }

    .main{
        grid-template-columns: repeat(7,1fr);
        grid-template-areas: 
        "main main main main cta cta cta"
        "main main main main cta cta cta"
        "main main main main cta cta cta"
        "image1 image1 about about about image2 image2"
        "image1 image1 about about about image2 image2";
        max-width: 100vw;
        min-height: 100vh;
    }

    .main__hero {
        height: 100%;
        min-height: 100%;
    }

    .main__controls{
        grid-area: cta;
        justify-self: start;
    }

    .main__logo{
        margin: 0;
    }

    .main__hamburguer{
        display: none;
    }

    .main__links__container{
        padding: 0;
        display: grid;
        grid-auto-flow: column;
        background-color: transparent;
        justify-content: start;
        position: static;
        height: auto;
    }

    .main__links {
        display: grid;
        grid-auto-flow: column;
        gap: 3rem;
        justify-content: start;
    }

    .icon__close {
        display: none;
    }

    .main__link{
        color: var(--White);
        position: relative;
    }

    .main__link::before {
        cursor: pointer;
        content: "";
        height: .15rem;
        background-color: white;
        position: absolute;
        left: 0;
        right: 0;
        top: 1.3rem;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform .3s ease;
    }

    .main__link:hover::before {
        transform: scaleX(1);
    }

    .main__cta {
        cursor: pointer;
    }

    .main__control {
        cursor: pointer;
    }

    @media (prefers-reduced-motion: reduce) {

        .main__link::before {
            transition: none;
        }

    }
}
